
/*global style*/
*
{
    margin: 0;
    padding: 0;
}
section
{
    margin-top: 40px;
}


/*section*/


nav>ul
{
 flex-direction: column;
}
.display_filtre
{
    width: auto;
    flex-direction: column;
}

/*hebergements*/

.global_position_activity
{
    flex-direction: column;
}
.position_hebergement

{
    flex-direction:column-reverse;
    padding: 0px;
}
/*populaire*/
.hotel_populaires
{
    width:100%;
    margin: 5px;
}


/*hebergements Marseille*/

.section_hebergements

{
    background-color:white;
    flex-direction: column;
    padding: 0px;
}

.hotel_cannebiére
{
    width: auto;
    margin-top: 10px;
}


/*activité à Marseille*/

.container_text_image_activity
{
    background-color: thistle;
    margin-top:10px;
}
.column
{
    padding: 0px;
}
.big_image
{
 height: 100px;
}
.midle_image
{
height: 100px;
}
.small_image
{
height: 100px;
}
.big_image
{
height: 100px;
}

/*footer*/

.footer_position
{
 flex-direction: column;
}

footer
{
    margin-top: px;
}