/*header*/
/* --- global style --- */

*
{
    margin: 0;
    padding:0;
}
body
{
    font-family: "Raleway",sans-serif ;
    margin: O;
      
}

h1
{
    font-size: 20px;
    font-style: bold;
}

li
{
    list-style: none;
}



header
{
    height: 50px;
    width: 100%;
   
}

nav

{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    
    
}

nav ul
{
    display:flex;
}


nav li
{
    margin: 0 10px 0 20px;
    padding-top: 15px;
}

a:hover
{
    color:blue;
    border-top: 1px solid;
    padding-top: 10px;

}

/* --- menu nav header --- */

.change_color
{
    color:blue;
    
 }

 .change_hypertext
 {
     text-decoration: none;
     color:blue;
     
 }
 .change_hypertext1
 {
     text-decoration: none;
     color:black;
 }

 .logo-header
 {
     display: flex;
 }

/* --- section --- */



/* -- filtre barre de recherche --*/
.barre_recherche
{
    margin-top: 10px;
    margin-bottom: 10px;

}
    
.button_researsch_left
{
-webkit-border-top-left-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-bottomleft: 20px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
height: 30px;
width: 35px;
border-style: none;
pointer-events: none;


}

.button_researsch_right

{
-webkit-border-top-right-radius: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-topright: 20px;
-moz-border-radius-bottomright: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
height: 30px;
border-style: none;
background-color: #0065fc;
color:white;
border left:0;

}

.input_researsch
{
    height: 24px;
    padding: Opx;
    margin: 0px;
}


section
{
    height: 250px;
    text-align: left;
    margin-top: 15px;
}

.display_recherche
{
display: flex;
}

/* --- filtres --- */

.display_filtre
{
    display: flex;
}



.button_filter 
{
    border-radius: 20px; 
    justify-content: space-between;
    padding:0;
    border-left: none;
    border-width: 1px;
    padding-right: 5px;
}

.icon_filter 
{
    border-radius:20px;
    padding: 10px;
    border:2px solid #deebff ;
    color: #0065fc;
    background-color:#deebff;
    margin-right: 14px;
}

.spacing_filter
{
    margin: 0 20px ;
    font-size: 20px;
}

.number_logements
{
    display:flex;
    align-items: center;
    margin-top: 20px;

}
.number_logements>i
{
    margin-right:10px;
    
}
.icon_logements
{

border-radius:20px;
padding: 5px 10px ;
border:2px solid #deebff ;
color: #0065fc;
background-color:white;

    
}

/*main*/

article
{
justify-content: space-between;

}

.section_hebergements
{flex: 0 1 70%;
background-color:#d9d9d9;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
display: flex;
flex-wrap: wrap;
padding: 20px;
justify-content: space-around;

}

.section_hebergements > p

{
   flex: 1 1 100%;
   
}

.section_populaire
{
   flex: 0 1 25%;
    background-color:#d9d9d9;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
}

.position_hebergement
{
    display:flex;
    justify-content: space-between;
    padding-right: 20px;
    
}

.titre_hebergement

{
   flex:1 1 100%;
}
/*display hotel hebergement à Marseille*/



.hotel_cannebiére

{
    
    width: 27%;
    background-color:white;
    text-align: left;
    font-size: 10px;
    -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
padding: 5px;
height:33%;
}

.img_cannebiére
{
    width:100%;
    
}

.text_cannebiére
{
    
    padding: 10px;
}

#change_color_star
{
    color: blue;
    
}

.img_container
{
height: 100px;
overflow: hidden;
align-items: center;
display: flex;
border-radius: 30px;
}
/*--les plus populaires*/

.titre_populaire
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 10px;
}

.titre_populaire>h2

{
    padding-left: 40px;

}
.changement_populaire
{
    padding-right: 30px;
}

.hotel_populaires
{
    width: 75%;
    height: 33%;
    background-color:white;
    text-align: left;
    font-size: 10px;
    -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
margin:20px;
padding: 5px;
margin-left: 33px;
display: flex;
justify-content: center;

}

.img_soleil_du_matin
{
   width: 100%;
}

.text_soleil_du_matin
{
    padding-left: 15px;
    padding-top: 20px;
    
}

.star_position_soleil_du_matin

{
padding-top: 10px;
}

.titre_soleil_du_matin
{
    margin-bottom: 10px;
}


.img_container_populaire
{ 

    height: 100px;
    width: 200px;
    overflow: hidden;
    align-items: center;
    display: flex;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

/*--Position Hebergement Activité grand*/

.position_activité

{
    background-color: beige;
    display: flex;
    
}

.img_grande
{
 width: 200%;
 
}

.position_grande_image
{
display: flex;
width: 300px;
height: 400px;

}
.position_grande_activité
{
   
   background-color: brown;
   width: 22%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   border-radius: 30px;
  
}
.text_grande_image
{

}


/*--Position Hebergement Activité petit*/

.position_moyenne_activité
{
   width: 25%;
   height: 50%;
   border-radius: 30px;
   height: 100%;
   background-color: darkmagenta;

}

.position_moyenne_image
{
  
  overflow: hidden;
}

.img_moyenne
{
    width: 100%;
    
}

