/*header*/
/* --- global style --- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

button:hover {
	background-color: #d9d9d9;
	text-decoration: none;
}

body {
	font-family: "Raleway", sans-serif;
	margin: 0px;
}

h1 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
}

li {
	list-style: none;
}

/* --- menu nav header --- */

header {
	margin-left: 40px;
	margin-right: 30px;
}

nav li {
	margin: 0 10px 0 20px;
	padding-top: 10px;
}

.container_navbar h1 {
	flex-grow: 1;
}
nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.nav_bar {
	display: flex;
	margin-right: 20px;
	margin-top: 15px;
}

.change_color {
	color: #0065fc;
}
.inscrire_text {
	font-weight: bold;
	display: flex;
	align-items: center;
}

.change_hypertext:hover {
	text-decoration: none;
	color: #0065fc;
	border-top: 1px solid;
	padding-top: 23px;
}
.change_hypertext1:hover {
	text-decoration: none;
	color: #0065fc;
	border-top: 1px solid;
	padding-top: 23px;
}
.change_hypertext1 {
	text-decoration: none;
	color: black;
}
.inscrire_text:hover {
	text-decoration: none;
	color: #0065fc;
	border-top: 1px solid;
}

/* -- filtre barre de recherche --*/

.text_section--research {
	margin-bottom: 10px;
}

.global_section_research {
	margin-right: 30px;
	margin-left: 40px;
}
.barre_recherche {
	margin-top: 15px;
	margin-bottom: 20px;
	display: flex;
}
::placeholder {
	color: black;
	font-weight: bolder;
}

.button_researsch_left {
	border-top-left-radius: 11px;
	border-bottom-left-radius: 11px;
	height: 30px;
	width: 35px;
	border-style: none;
	pointer-events: none;
}

.button_researsch_right {
	border-top-right-radius: 11px;
	border-bottom-right-radius: 11px;
	height: 30px;
	border-style: none;
	background-color: #0065fc;
	color: white;
	border-left: 0;
	width: 80px;
}

.buttton_researsh_loupe {
	display: none;
}
.input_researsch {
	height: 30px;
	margin: 0px;
	border-style: none;
	border: 1px solid #deebff;
	border-left: none;
	border-right: none;
}

.display_recherche {
	display: flex;
}

/* --- filtres --- */

.display_filtre {
	display: flex;
	justify-content: left;
}

.button_filter {
	border-radius: 30px;
	justify-content: space-between;
	padding: 0;
	border-width: 1px;
	padding-right: 5px;
	background-color: white;
	border: 2px solid #f2f2f2;
	margin-left: 10px;
	display: flex;
	align-items: center;
}

.icon_filter {
	color: #0065fc;
}

.circle_filter {
	border-radius: 30px;
	background-color: #deebff;
	border: 2px solid none;
	height: 27px;
	width: 27px;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -1px;
}

.spacing_filter {
	margin-left: 15px;
	font-size: 17px;
	display: flex;
}

.position_filter {
	padding-top: 5px;
}
.position_button {
	display: flex;
}

.number_logements {
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 11px;
}
.number_logements > i {
	margin-right: 10px;
}
.icon_logements {
	border-radius: 23px;
	padding: 4px 8px;
	border: 2px solid #f2f2f2;
	color: #0065fc;
	background-color: white;
}

/*display hotel hebergement à Marseille*/
a.lien_Hebergements {
	text-decoration: none;
	color: black;
}
.lien_Hebergements:hover {
	color: #0065fc;
	border: 0px;
	border-style: none;
	margin: 0px;
	padding: 0px;
}

.section_hebergements {
	flex: 0 1 70%;
	background-color: #f2f2f2;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: space-around;
}

.section_hebergements > p {
	flex: 1 1 100%;
}

.position_hebergement {
	display: flex;
	justify-content: space-between;
	margin-right: 30px;
	margin-left: 40px;
}

.titre_hebergement {
	flex: 1 1 100%;
	margin-left: 30px;
	margin-bottom: 10px;
}

.hotel_cannebiére {
	width: 27%;
	background-color: white;
	text-align: left;
	font-size: 10px;
	padding: 3px;
	margin-bottom: 10px;
	height: 37%;
	border-radius: 10px;
}

.img_cannebiére {
	width: 100%;
}
.titre_Auberge {
	margin-bottom: 6px;
}
.text_cannebiére {
	padding: 5px;
	margin: 5px;
}
.price_night {
	padding-bottom: 6px;
}

.change_color_star {
	color: #0065fc;
}
.change_color_star_grey {
	color: #f2f2f2;
}

.img_container {
	height: 100px;
	overflow: hidden;
	align-items: center;
	display: flex;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
/*--les plus populaires*/

.section_populaire {
	flex: 0 1 27%;
	background-color: #f2f2f2;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
a.lien_Hebergements_pop {
	text-decoration: none;
	color: black;
	display: flex;
}
.lien_Hebergements_pop:hover {
	color: #0065fc;
	border: 0px;
	border-style: none;
	margin: 0px;
	padding: 0px;
}

.titre_populaire {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	padding-bottom: 10px;
	align-items: center;
}

.titre_populaire > h2 {
	padding-left: 40px;
}
.changement_populaire {
	padding-right: 20px;
}

.hotel_populaires {
	width: 75%;
	height: 33%;
	background-color: white;
	text-align: left;
	font-size: 8px;
	border-radius: 8px;
	margin: 15px;
	margin-left: 33px;
	display: flex;
	padding: 3px;
	align-items: center;
}

.img_soleil_du_matin {
	height: 120px;
}
.img_eau {
	height: 120px;
}
.img_blanc {
	height: 240px;
}
.text_soleil_du_matin {
	padding: 8px;
	flex: 40%;
}

.star_position_soleil_du_matin {
	margin-top: 35px;
}

.titre_soleil_du_matin {
	margin-bottom: 10px;
	font-size: 12px;
}

.img_container_populaire {
	height: 100px;
	overflow: hidden;
	align-items: center;
	display: flex;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	flex: 30%;
	margin: 5px;
}

/*--Position Activité*/

.big-position_activity {
	margin-left: 20px;
	margin-right: 10px;
}
.titre_hebergement_activité {
	margin-bottom: 20px;
	padding-left: 25px;
	margin-top: 50px;
}

.global_position_activity {
	display: flex;
	padding: 0 4px;
}

.column {
	flex: 0 0 25%;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.img_container_activity {
	overflow: hidden;
	border-radius: 20px 20px 0 0;
}

.size_image {
	width: 100%;
	object-fit: cover;
}

.big_image {
	height: 400px;
}

.midle_image {
	height: 170px;
}

.small_image {
	height: 140px;
}

.text_activity {
	padding: 10px 20px;
}
.text_activity_port {
	padding: 22px 20px;
}
.container_text_image_activity {
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
}

/*footer*/
.Hypertext_footer:hover {
	color: black;
	text-decoration: none;
	border-top: none;
	color: #0065fc;
}
.Hypertext_footer {
	color: black;
	width: 100px;
	margin-top: 10px;
}
.footer_text {
	margin: 40px;
}
.footer {
	flex: 1 1 100%;
	background-color: #f2f2f2;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 50px;
}

.footer_position {
	display: flex;
	width: 80%;
	justify-content: space-between;
}

.title_footer {
	padding-bottom: 8px;
}
.footer_space {
	width: 300px;
	margin-top: 10px;
}

@media screen and (max-width: 767px) {
	/*barre de recherche*/

	.global_section_research {
		margin: unset;
	}
	.barre_recherche {
		justify-content: center;
		margin-right: 50px;
	}

	.buttton_researsh_loupe {
		border-radius: 11px;
		height: 40px;
		border-style: none;
		background-color: #0065fc;
		color: white;
		border-left: 0;
		display: block;
		width: 40px;
		margin-left: -7px;
	}

	.button_researsch_right {
		display: none;
	}
	.button_researsch_left {
		height: 40px;
		width: 40px;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
	}
	.input_researsch {
		height: 40px;
	}

	/*header*/
	.nav_bar {
		width: 100%;
		order: 1;
		display: flex;
		justify-content: space-around;
		margin-top: 20px;
		margin-right: 0px;
	}
	.lien_Hebergements:hover {
		color: #0065fc;
		border: 3px;
		border-style: none;
		margin: 0px;
		padding: 5px;
		border: unset;
	}
	.inscrire_order a:hover {
		border-top: unset;
	}
	.inscrire_order {
		padding: 25px;
	}
	h1 {
		margin: unset;
		padding-top: 12px;
		padding-left: 15px;
	}

	nav li {
		padding: unset;
		margin: unset;
		width: 50%;
		text-align: center;
	}

	.activites_order {
		border-bottom: solid 3px #d9d9d9;
	}
	.hebergement_order {
		padding-bottom: 10px;
		border-bottom: solid 3px #d9d9d9;
	}
	:hover.hebergement_order {
		border-bottom: 3px solid #0065fc;
	}
	:hover.activites_order {
		border-bottom: 3px solid #0065fc;
	}

	.change_hypertext:hover {
		font-size: 17px;
		font-weight: bold;
		border: unset;
	}
	.change_hypertext1:hover {
		font-size: 17px;
		font-weight: inherit;
		border: unset;
	}

	header {
		margin: unset;
	}
	/*text section*/
	.text_section {
		margin: unset;
		margin: 20px;
	}
	/*barre de recherche Header*/
	.input_researsch {
		width: 400px;
		height: 50px;
	}
	.button_researsch_left {
		height: 50px;
		width: 100px;
	}
	.buttton_researsh_loupe {
		height: 50px;
		width: 100px;
	}
	.barre_recherche {
		margin-left: 40px;
	}

	/*display filter*/
	.button_filter {
		margin-right: 40px;
	}

	.position_filter {
		margin-bottom: 10px;
		margin-left: 10px;
		font-weight:bold;
	}

	.display_filtre {
		flex-direction: column;
		
	}

	.position_button {
		flex-direction: row;
		display: flex;
		flex-wrap: wrap;
	}

	.spacing_filter {
		margin: 5px;
	}

	.circle_filter {
		height: 40px;
		width: 40px;
	}
	/*global hebergements*/

	.global_position_activity {
		flex-direction: column;
	}
	.position_hebergement {
		display: flex;
		flex-direction: column-reverse;
		padding: 0px;
		margin: unset;
	}

	/*populaire*/
	.img_soleil_du_matin {
		height: 140px;
	}
	.img_blanc {
		height: 320px;
	}
	.hotel_populaires {
		width: auto;
		margin: 12px;
	}
	.section_populaire {
		margin-top: 20px;
		border-radius: 0px;
	}
	.titre_populaire > h2 {
		padding-left: 20px;
	}
	.text_soleil_du_matin {
		font-size: 12px;
	}
	.star_position_soleil_du_matin {
		margin: unset;
		margin-top: 30px;
	}
	/*hebergements Marseille*/

	.section_hebergements {
		background-color: white;
		flex-direction: column;
		padding: 0px;
		margin-top: 30px;
	}

	.hotel_cannebiére {
		width: auto;
		margin-top: 10px;
		box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
		border-radius: 12px;
	}

	.big-position_activity {
		margin: unset;
	}

	/*activité à Marseille*/

	.global_position_activity {
		margin-bottom: 50px;
	}
	.titre_hebergement_activité {
		padding-left: 10px;
	}

	.container_text_image_activity {
		margin-top: 10px;
	}

	.big_image {
		height: 100px;
	}
	.midle_image {
		height: 100px;
	}
	.small_image {
		height: 100px;
	}
	.big_image {
		height: 100px;
	}
	.text_activity_port {
		padding: 10px 20px;
	}

	/*footer*/

	.footer_position {
		flex-direction: column;
	}
	footer {
		flex: 1 1 100%;
	}

	.title_footer {
		padding-bottom: 15px;
	}

	.footer_text {
		margin: 20px;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/*Hébergement à marseille*/
	.position_hebergement {
		display: flex;
		flex-direction: column-reverse;
	}
	.section_hebergements {
		margin-bottom: 20px;
		margin-top: 20px;
	}

	/*barre de recherche*/
	.barre_recherche {
		display: flex;
		justify-content: center;
		margin: 20px;
	}
	/*les plus populaires*/

	.titre_populaire {
		display: flex;
	}
	.changement_populaire {
		padding-left: 20px;
	}

	.section_populaire {
		display: flex;
	}
	.img_eau {
		height: 110px;
	}
	/*position activity*/
	.global_position_activity {
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.container_text_image_activity {
		margin-top: 30px;
	}
	/* footer */
	.footer_position {
		display: flex;
		flex-direction: row;
		flex: 100%;
		align-items: center;
		flex-wrap: wrap;
	}
}
