/*header*/
/* --- global style --- */

*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}
a
{
    text-decoration: none;
}


button:hover
{
    background-color:#d9d9d9;
    text-decoration: none;
}


body
{
    font-family: "Raleway",sans-serif ;
    margin: O;
}

h1
{
    font-size: 20px;
    font-style: bold;
}

li
{
    list-style: none;
}



header
{
    height: 50px;
    width: 100%;
   
}

nav
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav ul
{
    display:flex;
}


nav li
{
    margin: 0 10px 0 20px;
    padding-top: 11px;
}

a:hover
{
    color:#0065fc;
    border-top: 1px solid;
    padding-top: 10px;
}


/* --- menu nav header --- */

.change_color
{
    color:#0065fc;
    
 }

 .change_hypertext
 {
     text-decoration: none;
     color:#0065fc;
     
 }
 .change_hypertext1
 {
     text-decoration: none;
     color:black;
 }

 .logo-header
 {
     display: flex;
 }


/* -- filtre barre de recherche --*/
.barre_recherche
{
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}
::placeholder
{
color: black;
font-weight: bolder;
}
    
.button_researsch_left
{

border-top-left-radius: 11px;
border-bottom-left-radius: 11px;
height: 30px;
width: 35px;
border-style: none;
pointer-events: none;

}

.button_researsch_right

{

border-top-right-radius: 11px;
border-bottom-right-radius: 11px;
height: 30px;
border-style: none;
background-color: #0065fc;
color:white;
border-left:0;

}

.input_researsch
{
    height: 30px;
    padding: Opx;
    margin: 0px;
    border-style: none;
    border: 1px solid #deebff;
    border-left: none;
    border-right: none;
}



.display_recherche
{
display: flex;
}

/* --- filtres --- */

.display_filtre
{
    display: flex;
    justify-content: left;
}



.button_filter 
{
    border-radius: 30px; 
    justify-content: space-between;
    padding:0;
    border-width: 1px;
    padding-right: 5px;
    background-color: white;
    border:1px solid  #deebff;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.icon_filter 
{
color: #0065fc;
}

.circle_filter
{
  border-radius: 30px;
  background-color:#deebff;
  border: 2px solid none;
  height: 27px;
  width:27px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1px;
}

.spacing_filter
{
    margin-left: 15px;
    font-size: 17px;
    display: flex;
}

.position_filter
{
padding-top: 10px;
}
.position_button
{
    display: flex;
}

.number_logements
{
    display:flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 11px;

}
.number_logements>i
{
    margin-right:10px;
    
}
.icon_logements
{

border-radius:23px;
padding: 4px 8px ;
border:2px solid #deebff ;
color: #0065fc;
background-color:white;


}



/*display hotel hebergement à Marseille*/
article
{
justify-content: space-between;

}

.section_hebergements
{flex: 0 1 70%;
background-color:#F2F2F2;
border-radius: 20px;
display: flex;
flex-wrap: wrap;
padding: 20px;
justify-content: space-around;


}

.section_hebergements > p

{
   flex: 1 1 100%;
   
}

.section_populaire
{
   flex: 0 1 25%;
    background-color:#F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
}

.position_hebergement
{
    display:flex;
    justify-content: space-between;
    
    
}

.titre_hebergement

{
   flex:1 1 100%;
   margin-left: 30px;
}



.hotel_cannebiére

{
    
    width: 27%;
    background-color:white;
    text-align: left;
    font-size: 10px;
padding: 3px;
margin-bottom: 10px;
height:37%;
border-radius:10px;
}

.img_cannebiére
{
    width:100%;
   
}

.text_cannebiére
{
    
    padding: 5px;
}

#change_color_star
{
    color: blue;
    
}

.img_container
{
height: 100px;
overflow: hidden;
align-items: center;
display: flex;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
/*--les plus populaires*/

.titre_populaire
{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding-bottom: 10px;
    align-items: center;
}

.titre_populaire>h2

{
    padding-left: 40px;

}
.changement_populaire
{
    padding-right:20px ;
}

.hotel_populaires
{
    width: 75%;
    height: 33%;
    background-color:white;
    text-align: left;
    font-size: 10px;
border-radius: 8px;
margin:20px;;
margin-left: 33px;
display: flex;
justify-content: center;
padding:3px;

}

.img_soleil_du_matin
{
   width: 100%;
}

.text_soleil_du_matin
{
    padding:8px;
    
}

.star_position_soleil_du_matin

{
padding-top: 10px;
}

.titre_soleil_du_matin
{
    margin-bottom: 10px;
}


.img_container_populaire
{ 

    height: 100px;
    width: 200px;
    overflow: hidden;
    align-items: center;
    display: flex;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}
  

/*--Position Activité*/

.titre_hebergement_activité
{
    margin-bottom:10px;
    padding-left: 25px;
    margin-top: 10px;
}

.global_position_activity
{
    display: flex;
    padding: 0 4px;
}

.column
{
    flex: 0 0 25%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.img_container_activity
{

    overflow: hidden;
    border-radius: 30px 30px 0 0 ;

}

.size_image
{
    width: 100%;
    object-fit: cover;
}

.big_image
{ 
    height: 400px;

}

.midle_image
{
    height: 170px;
}

.small_image
{
    height: 140px;
}


.text_activity
{
 padding:10px 20px;

}
.container_text_image_activity
{
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
    border-radius: 30px;
}

/*footer*/
.Hypertext_footer:hover
{
    color: black;
    text-decoration: none;
    border-top: none;
    color:#0065fc;
}
.Hypertext_footer
{
    color: black;
}

.footer

{
    flex: 1 1 100%;
    
    background-color: #F2F2F2;
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer_position
{ 
   display: flex;
   width: 80%;
   justify-content: space-between;
}

.title_footer
{
  padding-bottom:8px;
}


@media screen and  (max-width:767px)
 {

 /*global style*/
 
 h1
{
    margin-bottom: 10px;
}


/*barre de recherche*/
.barre_recherche
{
    justify-content: center;
}

.inscrire_order
{
 order:1; 
}
.hebergement_order
{
 order:3;
}
.activités_order
{
 order:2;
}
/*section*/

nav>ul
{
    flex-direction: column;
}
.display_filtre
{
 flex-direction: column;
}
.text_section
{
margin-top: 30px;
}
.position_button
{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.spacing_filter
{
margin: 5px;
}
/*global hebergements*/

.global_position_activity
{
    flex-direction: column;
}
.position_hebergement

{
    flex-direction:column-reverse;
    padding: 0px;
}

/*populaire*/
.hotel_populaires
{
    width:auto;
    margin: 5px;
}
.section_populaire
{
    margin-top:20px;
}

/*hebergements Marseille*/

.section_hebergements

{
    background-color:white;
    flex-direction: column;
    padding: 0px;
    margin-top: 30px;
}

.hotel_cannebiére
{
    width: auto;
    margin-top: 10px;
}


/*activité à Marseille*/

.container_text_image_activity
{
    margin-top:10px;
}
.column
{
    padding: 0px;
}
.big_image
{
    height: 100px;
}
.midle_image
{
    height: 100px;
}
.small_image
{
    height: 100px;
}
.big_image
{
    height: 100px;
}

/*footer*/

.footer_position
{
    flex-direction: column;
}
footer
{
    flex: 1 1 100%;
    height: auto;
}


.title_footer
{
    padding-bottom: 15px;
}

.footer_text
{
    margin:20px;
}

}
    
  

